body{
    background-color: grey;
    display: flex;
}
$panel_width: 600px;
$screen_height: 1000px;

body,
html{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
#map {
    padding: 0;
    margin: 0;
    width: 80%;
    height: $screen_height;
    background-color: white;
}

body{ cursor: default;}
#control-panel{
        height: $screen_height;
        width: $panel_width;
        background-color: #701705;
    #weather {
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
        position: absolute;
        #weather-icon {
            padding: 0;
            display: block;
            //filter:;
            opacity: .5;
            width: 250px;
            height: auto;
            //float: right;
            //z-index: 13;
        }
        #weather-temp {
            position: relative;
            top: -100px;
            right: -100px;
            font-size: 3em;
            color: #e86100;
            opacity: .6;
            //float: right;
        }
    }
    h2 {
        opacity: .7;
        padding: 0;
        text-align: center;
        font-size: 60px;
    }
    ul {
        width: 100%;
        height:  auto;
        background-repeat: no-repeat;
        background-size: 0% auto;
        background-position: 50% 50%;
        text-align: center;
        position: relative;
        bottom: -5%;
        list-style: none;
        font-size: 3em;
    }
    #filter {
        background-color: #bdbdbd;
        width: 100%;
        font-weight: 800;
        text-align: center;
        font-size: 2em;
        color: white;
        height: auto;
        float: right;
        padding: 20px 40px;
        border: none;
    }
    #seattle-skyline {
        width: 100%;
        opacity: .6;
        filter: blur(1px);
    }
}
